body{
   background-image: url('https://d33wubrfki0l68.cloudfront.net/19c79f283e6c9440fb84aa1b9581cde724d1c39d/39c1d/blog_images/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html-uru01140x600.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
